*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body,html{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    /* font-family: montserrat; */
    font-family: Arial, sans-serif;
  }
  nav{
    /* background: #0082e6; */
    height: 80px;
    width: 100%;
  }
  /* label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  } */
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    /* background: #1b9bff; */
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }

  /* CSS of Gobbart */
  .monolit-header {
    /* background-color: rgba(255, 255, 255, 0.9) !important; */
    background-color: rgba(242, 242, 242, 1) !important;
    box-shadow: 1px 1px 6px #666666;
    -moz-box-shadow: inset 0px 56px 0px -24px #fafafa !important;
    -webkit-box-shadow: inset 0px 56px 0px -24px #fafafa !important;
    box-shadow: inset 0px 56px 0px -24px #fafafa !important;
    background-color: #f2f2f2 !important;
    padding: 6px 15px !important;
    text-decoration: none !important;
    display: block !important; 
   }
  .monolit-logo
  {
    height: 60px;
    width: 179px;
    margin-top: -8px;
     
  }
  .logo-holder img {
    padding-top: 10px;
    width: 100%;
    height: auto;
  }
  .logo-holder {
    margin-right: 50px;
}
.logo-holder {
    float: left;
    position: relative;
    width: 90px;
    z-index: 21;
    top: 20px;
}
/* logo End    */
nav ul.monolit_main-nav {
    list-style: none;
    padding-left: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
  }
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .nav-holder {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  } 
   nav ul.monolit_main-nav {
    padding-left: 12px;
    list-style: none;
  }
  nav li {
    float: left;
    position: relative;
  }
  
  li {
    line-height: 1.5;
  }
  
  nav li a.ancestor-act-link, nav li a.parent-act-link, nav li a.act-link {
    text-decoration: underline;
  }
  nav li a {
    font-size: 12px;
  }
nav li a {
    float: left;
    padding: 10px 15px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
      font-weight: 600;
      position: relative;
      z-index: 2;
      transition: all 100ms linear;
      text-align: center;
  }
  nav li a.act-link {
    text-decoration: underline;
  }
  
  nav li a:focus, nav li a:hover, li.current_page_item a, li.menu-item-has-children:hover > a {
    color: #068a44 !important;
   
  }
