/* { */
    /* margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none; */
    /* font-family: Google Sans Regular; */
    /* box-sizing:border-box;
}  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  html, body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
/* body{
    background:#fefefe;

} */

 /* header{ */
    /* width: 100%;
    height: 80px;
    background:#11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px; */

/* } */
/*
.logo{
    font-size:28px;
    font-weight: bold;
    color:#fefefe;
} */

.humburger{
   display: none;

}

 .nav-bar ul{
 display: flex;
}

/*.nav-bar ul li a{
    display: block;
    color:#fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius:50px;
    transition: 0.2s;
    margin: 0 5px;

} */

/* .nav-bar ul li a:hover{
    color:#11101b;
    background:#fefefe;
}

.nav-bar ul li a.active{
    color:green;
    background:#fefefe;

} */
.logo-holder {
  margin-right: 50px;
}
.logo-holder {
  float: left;
  position: relative;
  width: 90px;
  z-index: 21;
  top: 20px;
}
/* pseudo elements  */
.hide-left-bar header:before {
  display: none;
}
header::before {
  background: rgba(242, 242, 242, 1) none repeat scroll 0 0;
  background-color: #f2f2f2 !important;
}
header:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 1px;
  left: 15px;
  background: rgba(255, 255, 255, 1);
  /* -webkit-transition: all 500ms linear; */
  /* -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -ms-transition: all 500ms linear; */
  transition: all 500ms linear;
}


/* end  */
@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (max-width:1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (max-width:700px){
   .humburger{
    display: block;
    cursor: pointer;
   }
   .humburger .line{
    width: 30px;
    height:3px;
    background:rgb(2, 10, 2);
    margin: 6px 0;
   }

   .nav-bar{
    height: 0;
    /* display: none; */
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vh;
    background:#11101b;
    /* color:#f2f2f2; */
    transition: 0.5s;
    overflow: hidden;

   }
   .nav-bar.active{
    height: 450px;
   }
   .nav-bar ul{
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align:center;
    transition: 0.5s;
    opacity: 0;
   }
  .nav-bar.active ul{
   opacity: 1;
   }
   .nav-bar ul li a{
    margin-bottom: 12px;
   }
}


/* new style  */

.monolit-header {
    /* background-color: rgba(255, 255, 255, 0.9) !important; */
    background-color: rgba(242, 242, 242, 1) !important;
    box-shadow: 1px 1px 6px #666666;
    -moz-box-shadow: inset 0px 56px 0px -24px #fafafa !important;
    -webkit-box-shadow: inset 0px 56px 0px -24px #fafafa !important;
    box-shadow: inset 0px 56px 0px -24px #fafafa !important;
    background-color: #f2f2f2 !important;
    padding: 6px 15px !important;
    text-decoration: none !important;
    display: block !important; 
   }
  .monolit-logo
  {
    height: 60px;
    width: 179px;
    margin-top: -8px;
     
  }
  .logo-holder img {
    padding-top: 10px;
    width: 100%;
    height: auto;
  }
  .logo-holder {
    margin-right: 50px;
}
.logo-holder {
    float: left;
    position: relative;
    width: 90px;
    z-index: 21;
    top: 20px;
}
  
  
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
   
  nav ul.monolit_main-nav {
    list-style: none;
    padding-left: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
  }
  
  .nav-holder {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  } 
   nav ul.monolit_main-nav {
    padding-left: 12px;
    list-style: none;
  }
  nav li {
    float: left;
    position: relative;
  }
  
  li {
    line-height: 1.5;
  }
  
  nav li a.ancestor-act-link, nav li a.parent-act-link, nav li a.act-link {
    text-decoration: underline;
  }
  nav li a {
    font-size: 12px;
  }
  nav li a {
    float: left;
    padding: 10px 15px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Muli', sans-serif;
      font-weight: 600;
      position: relative;
      z-index: 2;
      transition: all 100ms linear;
      text-align: center;
  }
  nav li a.act-link {
    text-decoration: underline;
  }
  
  nav li a:focus, nav li a:hover, li.current_page_item a, li.menu-item-has-children:hover > a {
    color: #068a44 !important;
   
  }

  /* Contact  */
  .hide-left-bar .content-holder {
    padding-left: 0px;
}
@media only screen and (max-width: 1036px) {
    .content-holder {
        padding: 0;
    }
}
.content-holder {
   padding-top: 20px;
  padding-left: 40px;
}


/* Coding start  */